
.button{
    border: none;
    background-color: black;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    display: inline;
    margin: 0px;
    padding: 3px;
}

a{
    text-decoration: none;
}

.logo{
    width: 10rem;
}

$color-primary: gray;
$font-difalt:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;