@import "../baysic";

main{
    .serch{
        background-color: rgb(255, 255, 224);
        font-weight: 400;
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
        padding: 15px;
        border-radius: 14px;
        padding-left: 30px;
        p{
            font-size: 18px;
            width: 40vmax;
        }
        input{
            height: 30px;
            border-radius: 6px;
            padding-left: 10px
        }
        button{
            width: 70px;
            height: 30px;
        }
        a{
            display: block;
            position: relative;
            top: 15px;
            margin-bottom: 10px;
        }
    }
    .locaitionAll{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .locaitions{
            width: 360px;
            h3{
                color: black;
            }
        }
    }
    .end{
        margin-top: 30px;
    }
}